.page-content {
    .highlight {
        pre {
            font-family: $code_font_family;
            padding: 1rem;
            margin: 1.5rem 0px;
            overflow: auto;
            overflow-y: hidden;
        }
    }

    .code, code:not(.download) {
        margin: 0 0;
        padding: 3px 6px;
        background: $code_background;
        font-family: $code_font_family;
        border-radius: 2px;
        span.pre {
            font-family: $code_font_family;
        }
    }

    .viewcode-link {
        padding-left: 2em;
        font-size: 80%;
    }

    .rubric, .method > dt, .function > dt, .class > dt {
        display: table;
        margin: 10px 0;
        font-size: 100%;
        line-height: normal;
        background: #e7f2fa;
        color: #2B98F0;
        border-top: solid 3px #55ADF3;
        padding: 10px;
        position: relative;
        .descname, .descclassname {
            color: rgba(0,0,0,.87);
            background: #e7f2fa;
            padding: 3px;
        }
        em {
            padding: 0 2px;
        }
    }

    .field-body {
        padding-left: 40px;
        ul {
            padding: 0 0 0 16px;
            margin: 0;
        }
    }

    .docutils > dt {
        padding: 6px;
        display: table;
        margin-bottom: 6px;
        border: none;
        border-left: solid 3px #ccc;
        background: #f0f0f0;
        color: #555;
    }


    pre {
        font-size: 90%;
        background: #eee;
        color: #455A64;
        padding: 16px 32px;
        width: auto;
        border-radius: 4px;
        white-space: pre-wrap;
        word-wrap: break-word;

        &:hover {
            @extend .mdl-shadow--2dp;

            &:before {
                font-family: $body_font_family;
                padding: 0 0.5rem;
                content: attr(click-to-copy);
                color: rgba(0, 0, 0, 0.5);
                border-radius: 4px;
                position: relative;
                float: right;
                top: -0.5rem;
                right: -0.5rem;
                background: rgb(200, 200, 200);
                font-size: 0.8rem;
                cursor: pointer;
            }
        }
    }
}
